 @page "/C_Consulta"
@inject AportesBLL aportesBLL;

<EditForm Model="lista">
    <DataAnnotationsValidator />

        <div class="card-header">
            <h3>Consulta de aportes</h3>
        </div>
@*Filtro*@
 <div class="row">
        <select class="mb-3" >
            <input type="text" class="form-control" @bind="Filtro">
            <option value="0" disabled> Seleccione una opcion</option>
            <option value="1">Persona</option>
            <option value="2">PersonaId</option>
        </select>
    </div>

    <label class="mb-3">Desde</label>
    <input type="text" class="form-control" @bind="Desde">
    
    <label class="mb-3">Hasta</label>
    <input type="text" class="form-control" @bind="Hasta">

    <div>
        <button type="button" @onclick="Buscar">
            <i>Buscar</i>
        </button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>AportesId</th>
                <th>Persona</th>
                <th>Monto </th>
                
                <th></th>
            </tr>
          
        </thead>
        <tbody>
            @foreach (var aportes in lista)
            {
                <tr>
                    <td>@aportes.AportesId</td>
                    <td>@aportes.Persona</td>
                    <td>@aportes.Monto</td>
                                    
                </tr>
            }

        </tbody>

    </table>

    <td>Conteo: @lista.Count()</td>
</EditForm>

@code
{
    public string Filtro { get; set; } = "";
     
    public double Total {  get; set;}

     public DateTime Desde { get; set; }=DateTime.Now;

     public DateTime Hasta { get; set; }

    public List<Aportes> lista { get; set; } = new List<Aportes>();
    public void Buscar()
    {
        lista = aportesBLL.GetList(o => true);
        
    }

}
